<div class="postHeader"><h1>Album List: </h1></div>
<div class="postContent">
<table>
{% for item in AlbumList %}
    <tr>
        <td>
            {{item}}
        </td>
        <td><a class='detail' href='{%url AlbumController %}?op=edit&key={{item.key}}'>Edit</a></td>
        <td><a class='detail' href='{%url AlbumController %}?op=details&key={{item.key}}'>Detail</a></td>
        <td> <a class='delete' href='{%url AlbumController %}?op=delete&key={{item.key}}'>Delete</a></td>
    </tr>
{% endfor %}
</table>
</div>
<div class="postFooter">
<div class="nav">
{%ifequal previousIndex -1 %}{%else%}<a href="{%url AlbumController %}?op=index&index={{previousIndex}}">Previous</a>{%endifequal%}
 | {%ifequal nextIndex 0 %}{%else%}<a href="{%url AlbumController %}?op=index&index={{nextIndex}}">Next</a>{%endifequal%}
<h3><a href='{%url AlbumController %}?op=edit'>New</a><h3>
</div>
</div>
